/* IMPORTS */

@import "https://fonts.googleapis.com/css?family=Poppins&display=swap";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* CUSTOM VARS */

$bg: #282c34;
$bg-0: #4b5263;
$bg-1: #454a53;
$text: #ABB2BF;
$highlight: #C678DD;
$highlight2: #98C379;
$highlight3: #61AFEF;
$font: 'Poppins', sans-serif;


/* UTIL CLASSES */

.bg-dark {
  background-color: $bg;
}

.bg-dark-0 {
  background-color: $bg-1;
}

.border-dark-0 {
  border-color: $bg-0;
}

.text-dark {
  color:#282c34;
} 

.bg-secondary {
  background-color: $highlight3;
}
/* WRAPPER */

#content-flex-wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

/* CONTENT STYLING */

body {
  font-family: $font;
  color: $text;
  background-color: $bg;
}


.stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 0.25em;
  margin-right: 0.5em;
  margin-bottom: 0em;
  margin-left: 0.5em;
  background-color: $bg-1;
  border: .05em solid $bg-0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.comfort {
  box-sizing: inherit;
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin-right: .8em;
  margin-left: .8em;
  padding: 0.2em;
  padding-right: 0.5em;
  background-color: $bg;
  border: .05em solid $bg-0;
  border-top: none;
  color: var(--text-color);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: x-small;

  & hili {
    color: $highlight;
  }
}

.badge {
  margin: 0.25em;
  padding: 0.35rem;
  max-width: 90%;
  height: auto;

  &#html5 {
    content: url("https://img.shields.io/badge/html5-%23E34F26.svg?style=for-the-badge&logo=html5&logoColor=white");
  }

  &#csscript {
    content: url("https://img.shields.io/badge/css3-%231572B6.svg?style=for-the-badge&logo=css3&logoColor=white");
  }

  &#jscript {
    content: url("https://img.shields.io/badge/javascript-%23323330.svg?style=for-the-badge&logo=javascript&logoColor=%23F7DF1E");
  }

  &#python {
    content: url("https://img.shields.io/badge/python-3670A0?style=for-the-badge&logo=python&logoColor=ffdd54");
  }

  &#nodejs {
    content: url("https://img.shields.io/badge/node.js-6DA55F?style=for-the-badge&logo=node.js&logoColor=white");
  }
}

.social-button {
  margin: 0 auto;
  padding: 0.5rem;
  opacity: 80%;
  float: right;

  &:hover {
    transform: scale(1.1);
    opacity: 100%;
  }

  &#cv {
    content: url("https://img.shields.io/badge/-Download%20CV-fffbfc?style=for-the-badge");
  }

  &#github {
    content: url("../assets/img/github.png");
    width: 2rem;
  }

  &#twitter {
    content: url("../assets/img/twitter.png");
    width: 2rem;
  }
}

hili {
  color: $highlight;
}

alt-hili {
  color: $highlight2;
}

alt-hili-2 {
  color: $highlight3;
}

mis {
  border-bottom: .2em dotted #E06C75;
  padding:1px;

  spelled {
    border-bottom: .2em dotted #E06C75;
  }
}