/* IMPORTS */

@import "https://fonts.googleapis.com/css?family=Poppins&display=swap";

/* CUSTOM VARIABLES */

$primary-color: rgb(255, 175, 204);

$dark-text: rgb(18, 18, 18);
$light-text: rgb(255, 251, 252);

$dark-bg: rgb(18, 18, 18);
$dark-box: rgb(36, 36, 36);

$light-bg: rgb(236, 236, 236);
$light-box: rgb(255, 251, 252);

$home-font: 'Poppins', sans-serif;

/* WRAPPER */

#content-flex-wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

/* CONTENT STYLING */

body {
  font-family: $home-font;
  color: $dark-text;
}

#footer {
  margin: 0.25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#box {
  background: $dark-box;
  max-height: 7%;
  max-width: 70%;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 1rem;
}

#box-content {
  display: flex;
  flex-direction: column;
  width: 95%;
  max-height: 100%;
  margin: auto;
  overflow: auto;
}

.box-title {
  grid-area: 1/1/2 / span 6;
  display: flex;
  margin: 0.5rem;
}

.box-media {
  grid-area: 2/1 / span 5 / span 6;
  font-weight: 100;
  display: flex;
  flex-direction: column;
  margin: 0.5rem;

  a {
    color: $primary-color;
  }
}

.stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 0.25em;
  margin-right: 0.5em;
  margin-bottom: 0em;
  margin-left: 0.5em;
  background-color: rgba($dark-bg, .25);
  border: .05em solid $dark-bg;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.comfort {
  box-sizing: inherit;
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin-right: .8em;
  margin-left: .8em;
  padding: 0.2em;
  padding-right: 0.5em;
  background-color: $dark-box;
  border: .05em solid $dark-bg;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: x-small;
  color: $light-text;

  & hili {
    color: $primary-color;
  }
}

.badge {
  margin: 0.25em;
  padding: 0.35rem;
  max-width: 90%;
  height: auto;

  &#html5 {
    content: url("https://img.shields.io/badge/html5-%23E34F26.svg?style=for-the-badge&logo=html5&logoColor=white");
  }

  &#csscript {
    content: url("https://img.shields.io/badge/css3-%231572B6.svg?style=for-the-badge&logo=css3&logoColor=white");
  }

  &#jscript {
    content: url("https://img.shields.io/badge/javascript-%23323330.svg?style=for-the-badge&logo=javascript&logoColor=%23F7DF1E");
  }

  &#python {
    content: url("https://img.shields.io/badge/python-3670A0?style=for-the-badge&logo=python&logoColor=ffdd54");
  }

  &#nodejs {
    content: url("https://img.shields.io/badge/node.js-6DA55F?style=for-the-badge&logo=node.js&logoColor=white");
  }
}

.title {
  color: $primary-color;
  font-weight: 900;
}

.social-button {
  margin: 0 auto;
  padding: 0.5rem;
  opacity: 80%;

  &:hover {
    transform: scale(1.1);
    opacity: 100%;
  }

  &#cv {
    content: url("https://img.shields.io/badge/-Download%20CV-fffbfc?style=for-the-badge");
  }

  &#github {
    content: url("assets/img/github.png");
    height: 1.5rem;
  }

  &#twitter {
    content: url("assets/img/twitter.png");
    height: 1.5rem;
  }
}

/* CUSTOM STYLE PROPERTIES */

hili {
  color: $primary-color;
  font-weight: 900;
}

/* MEDIA QUERIES */
/* DARK MODE */

@media (prefers-color-scheme: dark) {
  body {
    background-color: $dark-bg;
    color: $light-text;
  }

  #box {
    background-color: $dark-box;
  }

  .social-button {
    &#cv {
      content: url("https://img.shields.io/badge/-Download%20CV-242424?style=for-the-badge");
    }
  }
}

/* LIGHT MODE */

@media (prefers-color-scheme: light) {
  body {
    background-color: $light-bg;
    color: $dark-text;
  }

  #box {
    background-color: $light-box;
  }

  .stack {
    background-color: rgba($light-bg, .25);
    border: .05em solid $light-bg;
  }
}
