/* IMPORTS */

@import "https://fonts.googleapis.com/css?family=Poppins";

/* CUSTOM VARIABLES */

$primary-color: rgb(255, 175, 204);
$secondary-color: rgb(162, 210, 255);
$dark-text: rgb(18, 18, 18);
$light-text: rgb(255, 251, 252);
$dark-bg: rgb(18, 18, 18);
$light-bg: rgb(255, 251, 252);
$home-font: "Poppins";

/*CONTENT STYLING*/
  /*WRAPPERS*/

.page-container {
  position: relative;
  height: 95vh;
  font-family: $home-font;
  color: #fff;
  margin: auto;
  overflow: hidden;
}

#content-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 2rem repeat(6, 1fr) 2rem;
  grid-template-rows: 3rem 5rem repeat(4, 1fr) 5rem 3rem;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

  /*WRAPPERS END*/

#footer {
  grid-area: 8/1/9/9;
  text-align: center;
  color: #fff;
  z-index: 1;
  margin: .25rem;
}

#social {
  margin: 0 auto;
  padding: .5rem;
  opacity: 80%;
}

#social:hover {
  transform: scale(1.1);
  opacity: 100%;
}

#badge {
  margin: 0.25em;
  padding: 0.35rem;
  max-width: 90%;
  height: auto;
}

/* BOX PROPERTIES */

#box {
  background: $primary-color;
  grid-area: 3/3/7/7;
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  padding: 1rem;
}

/* BOX CONTENT PROPERTIES*/

#box-content {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  width: 95%;
  height: 100%;
  margin: auto;
  overflow: auto;
}

#box-title {
  grid-area: 1/1/2/span 6;
  font-weight: 900;
  margin: .5rem;
}

#box-text {
  grid-area: 2/1/span 5/span 6;
  font-weight: 900;
  margin: 1rem;
  text-align: justify;
}

#stack {
  text-align: center;
  margin: .25em;
}

/* PORTRAIT ORENTATION*/

@media only screen and (max-width: 700px) {
  #content-wrapper {
    grid-template-columns: 1.5rem repeat(6, 1fr) 1.5rem;
  }

  #box {
    grid-area: 2/2/8/8;
  }
}

/* LANDSCAPE ORENTATION*/

@media only screen and (max-height: 700px) {
  #content-wrapper {
    grid-template-rows: 1.5rem 5rem repeat(5, 1fr) 3rem;
  }
  
  #box {
    grid-area: 2/2/8/8;
  }
}

/* DARK MODE */

@media (prefers-color-scheme: dark) {
  body {
    background-color: $dark-bg;
  }

  #box {
    background: rgba($light-bg, 0.05);
  }

  .page-container {
    color: $light-text;
  }

  h1 {
    color: $primary-color;
  }
}

/* LIGHT MODE */

@media (prefers-color-scheme: light) {
  body {
    background-color: $light-bg;
  }

  #box {
    background: $primary-color;
  }

  .page-container {
    color: $dark-text;
  }

  h1 {
    color:$dark-text;
  }
}