/* IMPORTS */
@import "https://fonts.googleapis.com/css?family=Poppins&display=swap";
/* CUSTOM VARIABLES */
/* WRAPPER */
#content-flex-wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

/* CONTENT STYLING */
body {
  font-family: "Poppins", sans-serif;
  color: rgb(18, 18, 18);
}

#footer {
  margin: 0.25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#box {
  background: rgb(255, 251, 252);
  max-height: 7%;
  max-width: 70%;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 1rem;
}

#box-content {
  display: flex;
  flex-direction: column;
  width: 95%;
  max-height: 100%;
  margin: auto;
  overflow: auto;
}

.box-title {
  grid-area: 1/1/2/span 6;
  display: flex;
  margin: 0.5rem;
}

.box-media {
  grid-area: 2/1/span 5/span 6;
  font-weight: 100;
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
}

#stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0.25em 0.5em;
  background-color: rgba(18, 18, 18, 0.2);
  border: 0.05em solid rgba(18, 18, 18, 0.8);
  border-radius: 5px;
}

#badge {
  margin: 0.25em;
  padding: 0.35rem;
  max-width: 90%;
  height: auto;
}
#badge.html5 {
  content: url("https://img.shields.io/badge/html5-%23E34F26.svg?style=for-the-badge&logo=html5&logoColor=white");
}
#badge.csscript {
  content: url("https://img.shields.io/badge/css3-%231572B6.svg?style=for-the-badge&logo=css3&logoColor=white");
}
#badge.tyscript {
  content: url("https://img.shields.io/badge/typescript-%23007ACC.svg?style=for-the-badge&logo=typescript&logoColor=white");
}
#badge.python {
  content: url("https://img.shields.io/badge/python-3670A0?style=for-the-badge&logo=python&logoColor=ffdd54");
}
#badge.jscript {
  content: url("https://img.shields.io/badge/javascript-%23323330.svg?style=for-the-badge&logo=javascript&logoColor=%23F7DF1E");
}

.title {
  color: rgb(255, 175, 204);
  font-weight: 900;
}

#social-button {
  margin: 0 auto;
  padding: 0.5rem;
  opacity: 80%;
}
#social-button:hover {
  transform: scale(1.1);
  opacity: 100%;
}
#social-button.cv {
  content: url("https://img.shields.io/badge/-Download%20CV-fffbfc?style=for-the-badge");
}
#social-button.github {
  content: url("assets/img/github.png");
  height: 1.5rem;
}
#social-button.twitter {
  content: url("assets/img/twitter.png");
  height: 1.5rem;
}

/* CUSTOM STYLE PROPERTIES */
highlight {
  color: rgb(255, 175, 204);
  font-weight: 900;
}

/* MEDIA QUERIES */
/* DARK MODE */
@media (prefers-color-scheme: dark) {
  body {
    background-color: rgb(18, 18, 18);
    color: rgb(255, 251, 252);
  }

  #box {
    background-color: rgb(37, 33, 34);
  }

  #social-button.cv {
    content: url("https://img.shields.io/badge/-Download%20CV-252122?style=for-the-badge");
  }
}
/* LIGHT MODE */
@media (prefers-color-scheme: light) {
  body {
    background-color: rgb(236, 236, 236);
    color: rgb(18, 18, 18);
  }

  #box {
    background-color: rgb(255, 251, 252);
  }

  #stack {
    background-color: rgba(236, 236, 236, 0.2);
    border: 0.05em solid rgba(236, 236, 236, 0.8);
    border-radius: 5px;
  }
}/*# sourceMappingURL=main.css.map */