/* IMPORTS */
@import "https://fonts.googleapis.com/css?family=Poppins&display=swap";
/* CUSTOM VARIABLES */
:root {
  --primary-color: rgb(255, 175, 204);
  --home-font: "Poppins", sans-serif;
  --dark-text: rgb(18, 18, 18);
  --dark-bg: rgb(18, 18, 18);
  --dark-box: rgb(36, 36, 36);
  --light-text: rgb(255, 251, 252);
  --light-bg: rgb(236, 236, 236);
  --light-box: rgb(255, 251, 252);
  --text-color: var(--dark-text);
  --bg-color: var(--light-bg);
  --box-color: var(--light-box);
}

/* WRAPPER */
#content-flex-wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

/* CONTENT STYLING */
body {
  font-family: var(--home-font);
  color: var(--text-color);
  background-color: var(--bg-color);
}

#footer {
  margin: 0.25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#box {
  background: var(--box-color);
  max-height: 7%;
  max-width: 70%;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 1rem;
}

#box-content {
  display: flex;
  flex-direction: column;
  width: 95%;
  max-height: 100%;
  margin: auto;
  overflow: auto;
}

.box-title {
  grid-area: 1/1/2/span 6;
  display: flex;
  margin: 0.5rem;
}

.box-media {
  grid-area: 2/1/span 5/span 6;
  font-weight: 100;
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
}
.box-media a {
  color: var(--primary-color);
}

.stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 0.25em;
  margin-right: 0.5em;
  margin-bottom: 0em;
  margin-left: 0.5em;
  background-color: rgba(var(--bg-color), 0.25);
  border: 0.05em solid var(--bg-color);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.comfort {
  box-sizing: inherit;
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin-right: 0.8em;
  margin-left: 0.8em;
  padding: 0.2em;
  padding-right: 0.5em;
  background-color: var(--box-color);
  border: 0.05em solid var(--bg-color);
  border-top: none;
  color: var(--text-color);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: x-small;
}
.comfort hili {
  color: var(--primary-color);
}

.badge {
  margin: 0.25em;
  padding: 0.35rem;
  max-width: 90%;
  height: auto;
}
.badge#html5 {
  content: url("https://img.shields.io/badge/html5-%23E34F26.svg?style=for-the-badge&logo=html5&logoColor=white");
}
.badge#csscript {
  content: url("https://img.shields.io/badge/css3-%231572B6.svg?style=for-the-badge&logo=css3&logoColor=white");
}
.badge#jscript {
  content: url("https://img.shields.io/badge/javascript-%23323330.svg?style=for-the-badge&logo=javascript&logoColor=%23F7DF1E");
}
.badge#python {
  content: url("https://img.shields.io/badge/python-3670A0?style=for-the-badge&logo=python&logoColor=ffdd54");
}
.badge#nodejs {
  content: url("https://img.shields.io/badge/node.js-6DA55F?style=for-the-badge&logo=node.js&logoColor=white");
}

.title {
  color: var(--primary-color);
  font-weight: 900;
}

.social-button {
  margin: 0 auto;
  padding: 0.5rem;
  opacity: 80%;
  float: right;
}
.social-button:hover {
  transform: scale(1.1);
  opacity: 100%;
}
.social-button#cv {
  content: url("https://img.shields.io/badge/-Download%20CV-fffbfc?style=for-the-badge");
}
.social-button#github {
  content: url("assets/img/github.png");
  height: 1.5rem;
}
.social-button#twitter {
  content: url("assets/img/twitter.png");
  height: 1.5rem;
}

/* CUSTOM STYLE PROPERTIES */
hili {
  color: var(--primary-color);
  font-weight: 900;
}

/* MEDIA QUERIES */
/* DARK MODE */
@media (prefers-color-scheme: dark) {
  :root {
    --text-color: var(--light-text);
    --bg-color: var(--dark-bg);
    --box-color: var(--dark-box);
  }

  .social-button#cv {
    content: url("https://img.shields.io/badge/-Download%20CV-242424?style=for-the-badge");
  }
}/*# sourceMappingURL=main.css.map */