/* IMPORTS */

@import "https://fonts.googleapis.com/css?family=Poppins&display=swap";

/* CUSTOM VARIABLES */

$primary-color: rgb(255, 175, 204);
$dark-text: rgb(18, 18, 18);
$light-text: rgb(255, 251, 252);
$dark-bg: rgb(18, 18, 18);
$dark-box: rgb(37, 33, 34);
$light-bg: rgb(236, 236, 236);
$light-box: rgb(255, 251, 252);
$home-font: 'Poppins', sans-serif;

/* WRAPPERS */

.page-container {
  position: relative;
  height: 100vh;
  margin: auto;
  overflow: auto;
}

#content-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#footer {
  margin: 0.25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

/* BOX PROPERTIES */

#box {
  background: $primary-color;
  height: 75%;
  width: 75%;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 1rem;
}

/* BOX CONTENT PROPERTIES */

#box-content {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  width: 95%;
  height: 100%;
  margin: auto;
  overflow: auto;
}

#box-title {
  grid-area: 1/1/2 / span 6;
  margin: 0.5rem;
  font-weight: 900;
  display: flex;
}

#box-media {
  grid-area: 2/1 / span 5 / span 6;
  font-weight: 100;
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

#stack {
  text-align: center;
  margin: 0.25em;
}

/* CONTENT STYLING */

body {
  margin: .5rem;
  font-family: $home-font;
}

h1 {
  color: $primary-color;
}

highlight {
  color: $primary-color;
}

.social {
  margin: 0 auto;
  padding: 0.5rem;
  opacity: 80%;
}

.social:hover {
  transform: scale(1.1);
  opacity: 100%;
}

#cv-button {
  content: url("https://img.shields.io/badge/-Download%20CV-fffbfc?style=for-the-badge");
}

#github {
  content: url("assets/img/github.png");
  height: 1.5rem;
}

#twitter {
  content: url("assets/img/twitter.png");
  height: 1.5rem;
}

#badge {
  margin: 0.25em;
  padding: 0.35rem;
  max-width: 90%;
  height: auto;
}

/* DARK MODE */

@media (prefers-color-scheme: dark) {
  body {
    background-color: $dark-bg;
  }

  #box {
    background-color: $dark-box;
  }

  .page-container {
    color: $light-text;
  }

  #cv-button {
    content: url("https://img.shields.io/badge/-Download%20CV-252122?style=for-the-badge");
  }
}

/* LIGHT MODE */

@media (prefers-color-scheme: light) {
  body {
    background-color: $light-bg;
  }

  #box {
    background-color: $light-box;
  }

  .page-container {
    color: $dark-text;
  }
}
