@import "tailwindcss";
@import "./theme.css";

/* Brand Specific Styles */

@layer base {
	:root {
		--dawescc: var(--color-pink-700);
		--dawesdesign: hsl(31, 100%, 50%);
		--primary: var(--dawesdesign);

		--border-radius: 4.22px;
	}
}

@theme inline {
	@keyframes spinner-leaf-fade {
		0%,
		100% {
			opacity: 0;
		}
		50% {
			opacity: 1;
		}
	}
	--animate-spinner-leaf-fade: spinner-leaf-fade 800ms linear infinite;
	--spacing-max-content: 1000px;
	--spacing-header: 64px;

	--color-brand-dawescc: var(--dawescc);
	--color-brand-dawesdesign: var(--dawesdesign);
	--color-primary: var(--dawescc);
}

@utility timing-spring {
	transition-timing-function: cubic-bezier(0.68, -0.6, 0.32, 1.6);
	transition-duration: 150ms;
}

@layer components {
	.button {
		@apply border grid grid-cols-1 place-items-center px-2 py-1.5
		cursor-pointer rounded select-none
		bg-gray-100 hover:bg-gray-200 active:bg-gray-300
		border-gray-400 hover:border-gray-500 active:border-gray-600
		font-medium transition-colors timing-spring;
	}
}
