@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: rgb(255, 255, 255);
		--foreground: rgb(0, 0, 0);
		--primary: rgb(255, 130, 0);
		--accent: rgb(131, 131, 131);
		--border: var(--foreground);
		--cta-text: rgb(109, 38, 14);
		--footer-bg: rgb(247, 246, 246);
		--collapsible-bg: rgb(243, 242, 242);
		--card-border: rgb(243, 242, 242);
		--hero-opacity: 0.09667;
	}

	[data-theme="dark"] {
		--background: rgb(0, 0, 0);
		--foreground: rgb(255, 255, 255);
		--accent: rgb(133, 133, 133);
		--cta-text: rgb(249, 224, 195);
		--footer-bg: rgb(18, 18, 18);
		--collapsible-bg: rgb(22, 22, 22);
		--card-border: rgb(22, 22, 22);
		--hero-opacity: 0.16667;

		.hero-img {
			@apply invert;
		}
	}

	body {
		@apply bg-background text-foreground;
	}

	html {
		font-size: 15px;
	}

	a {
		@apply hover:underline;
	}
}
