@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: rgb(255, 255, 255);
		--foreground: rgb(0, 0, 0);
		--primary: rgb(255, 130, 0);
		--accent: oklch(from var(--foreground) calc(l + 0.2) c h / 0.5);
		--border: var(--foreground);
		--cta-text: rgb(109, 38, 14);
		--footer-bg: rgb(247, 246, 246);
	}

	[data-theme="dark"] {
		--background: rgb(0, 0, 0);
		--foreground: rgb(255, 255, 255);
		--cta-text: rgb(249, 224, 195);
		--footer-bg: rgb(18, 18, 18);
	}

	body {
		@apply bg-background text-foreground;
	}

	html {
		font-size: 15px;
	}

	a {
		@apply hover:underline;
	}
}
