@import "tailwindcss";
@import "./theme.css";

/* Brand Specific Styles */

@layer base {
	:root {
		--dawesdesign-color: hsl(31, 100%, 50%);
		--dawescc-color: var(--dawesdesign-color);
		--eleanes-color: hsl(206, 100%, 50%);
		--primary-color: var(--dawesdesign-color);
		--focus-color: currentColor;

		--border-radius: 4.22px;
	}
	* {
		@apply custom-focus;
	}
}

@theme inline {
	@keyframes spinner-leaf-fade {
		0%,
		100% {
			opacity: 0;
		}
		50% {
			opacity: 1;
		}
	}
	--animate-spinner-leaf-fade: spinner-leaf-fade 800ms linear infinite;
	--spacing-max-content: 1000px;
	--spacing-header: 64px;

	--color-brand-dawescc: var(--dawescc-color);
	--color-brand-dawesdesign: var(--dawesdesign-color);
	--color-brand-eleanes: var(--eleanes-color);
	--color-primary: var(--dawescc-color);

	--radius: var(--border-radius);
}

@utility timing-spring {
	transition-timing-function: cubic-bezier(0.68, -0.6, 0.32, 1.6);
	transition-duration: 150ms;
}

@layer components {
	.button {
		@apply border grid grid-cols-1 place-items-center px-2 py-1.5
		cursor-pointer rounded select-none
		bg-gray-2 hover:bg-gray-3 active:bg-gray-4
		border-gray-5 hover:border-gray-6 active:border-gray-7
		font-medium transition-colors timing-spring;
	}
}

@utility custom-focus {
	@apply focus-visible:outline-none;
	&:focus-visible,
	.cf-hover:hover {
		transition: none;
		box-shadow: 0 0 0 2px var(--color-gray-1), 0 0 0 4px var(--focus-color);
	}
}
