@import "@eleanes/biscuits/css/";


@layer base {
	:root {
		/* Border Radius */
		--border-radius: 0.6423466667em;

		/* Font Size */
		--font-size: 15px;

		/* Spacing */
		--spacing: 0.25rem;

		/* Fonts */
		--font-sans-custom: 'Geist Variable', sans-serif;

		/* Custom Focus */
		--focus-color: currentColor;
	}
}

@theme inline {
	/* Border Radius */
	--radius: var(--border-radius);

	/* Spacing */
	--spacing: var(--spacing);

	/* Fonts */
	--font-sans: var(--font-sans-custom);
}

@layer base {
	body {
		@apply bg-gray-1 text-gray-12;
	}

	html {
		font-size: var(--font-size);
	}
}

@layer base {

	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-6, currentColor);
	}
}

@utility custom-focus {
	:focus-visible {
		outline-style: none;
		transition: none;
		box-shadow: 0 0 0 2px var(--color-gray-1), 0 0 0 4px var(--focus-color);
		-webkit-box-shadow: 0 0 0 2px var(--color-gray-1), 0 0 0 4px var(--focus-color);
		-moz-box-shadow: 0 0 0 2px var(--color-gray-1), 0 0 0 4px var(--focus-color);
	}
}