@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'fontawesome/css/all.min.css';


html {
	scroll-behavior: smooth;
}

body {
	padding-top: env(safe-area-inset-top);
	padding-right: env(safe-area-inset-right);
	padding-bottom: env(safe-area-inset-bottom);
	padding-left: env(safe-area-inset-left);
}

a:hover {
	text-decoration: underline;
}