@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--bg-color: 255, 255, 255;
	--text-color: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg-color: 0, 0, 0;
		--text-color: 255, 255, 255;
	}
}

html {
	@apply antialiased;
	scroll-behavior: smooth;
	background-color: rgba(var(--bg-color), 1);
	color: rgba(var(--text-color), 1);
}

body {
	padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

.label {
	@apply text-xl relative;

	&::after {
		content: "";
		@apply absolute left-[1px] -bottom-[2px] w-[1ch] h-[2px];
		background-color: rgba(var(--text-color), 0.5);
	}
}

.paragraph {
	@apply text-pretty;
}

a:not(.clean) {
	text-decoration: underline;
	text-decoration-color: rgba(var(--text-color), 0.15);
	@apply transition-all duration-500;

	&:hover {
		text-decoration-color: rgba(var(--text-color), 1);
	}

	@media (prefers-color-scheme: dark) {
		& {
			text-decoration-color: rgba(var(--text-color), 0.55);
		}

		&:hover {
			text-decoration-color: rgba(var(--text-color), 0.9);
		}
	}
}

.project-tech {
	@apply max-w-fit px-2 py-[1px] rounded-lg text-base;
	background-color: rgba(var(--text-color), 0.05);
}

.hover-bg {
	&:hover {
		background-color: rgba(var(--text-color), 0.025);
	}
}

.img-card {
	@apply absolute w-[100px] lg:w-[120px] aspect-square rounded-3xl transition-all m-5 top-0 right-0;
}

@media (prefers-color-scheme: dark) {
	.hover-bg {
		&:hover {
			background-color: rgba(var(--text-color), 0.0225);
		}
	}
}
