#rcorn { border-radius: 2em;
        border: 2px solid #FDDDDD;
        padding: .5rem;
        text-align: center;
        max-width: 95%;
        margin: auto }

#smrcorn { border-radius: 2em;
        border: 1.5px solid #FDDDDD;
        width: 45%;
        max-height: auto;
        margin: auto;
        text-align: center;}

#badge { margin: .25em;
        padding: .35rem; }